<div class="container page">

  <h2 class="page-title">Community</h2>

  <p>The Elixir and Phoenix communities are friendly and welcoming. All questions and comments are valuable, so please come join the discussion!</p>

  <p>There are a number of places to connect with community members at all experience levels:</p>
  <ul>
    <li>We're on Freenode IRC in the <a href="http://webchat.freenode.net/?channels=elixir-lang" target="_blank">#elixir-lang</a> channel.</li>
    <li><a href="https://elixir-slackin.herokuapp.com/" target="_blank">Request an invitation</a> and join the #phoenix channel on <a href="https://elixir-lang.slack.com/" target="_blank">Slack</a>.</li>
    <li>For general Phoenix questions, email the <a href="https://groups.google.com/forum/#!forum/phoenix-talk" target="_blank">phoenix-talk mailing list</a>.</li>
    <li>To discuss new features in the framework, email the <a href="https://groups.google.com/forum/#!forum/phoenix-core" target="_blank">phoenix-core mailing list</a>.</li>
    <li>Read about <a href="" target="_blank">bug reports</a> or open an issue in the Phoenix <a href="https://github.com/phoenixframework/phoenix/issues" target="_blank">issue tracker</a>.</li>
    <li>Ask or answer questions about Phoenix on <a href="https://stackoverflow.com/questions/tagged/phoenix-framework" target="_blank">Stack Overflow</a>.</li>
    <li>Follow the Phoenix Framework on <a href="https://twitter.com/elixirphoenix" target="_blank">Twitter</a>.</li>
    <li>The source for these guides is on <a href="https://github.com/phoenixframework/phoenix_guides" target="_blank">GitHub</a>. To help improve the guides, please report an <a href="https://github.com/phoenixframework/phoenix_guides" target="_blank">issue</a> or <a href="https://github.com/phoenixframework/phoenix_guides/pulls" target="_blank">open a pull request</a>.</li>
  </ul>
</div>
